In [64]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

Requerindo acesso para o site e o salvando em objeto do BeautifulSoup.

In [51]:
response = requests.get("https://www.imdb.com/chart/toptv/")

In [52]:
content = response.content

In [53]:
site = BeautifulSoup(content, 'html.parser')

Sintaxe para a obtenção de cada variável

In [54]:
# TitleColumn Class
titlecolumn = site.find('td', attrs={"class": "titleColumn"})

In [55]:
# Título
titulo = titlecolumn.find('a').text
titulo

'Planeta Terra II'

In [56]:
# Ano
ano = titlecolumn.find('span').text[1:-1]
ano

'2016'

In [57]:
# Nota
nota = site.find('strong').text
nota

'9.4'

In [58]:
# Votos
votos_tag = site.find('strong')
votos = re.search('<strong title="[0-9]\.[0-9] based on (.+?) user ratings">[0-9]\.[0-9]</strong>', str(votos_tag)).group(1)
votos

'132,806'

Salvando os valores de "título" e "ano"

In [59]:
titleColumns = site.find_all('td', attrs={"class": "titleColumn"})

In [60]:
titulo = list()
ano = list()

for column in titleColumns:
    titulo.append(column.find('a').text)
    ano.append(column.find('span').text[1:-1])

Salvando os valores de "rating" e "votes"

In [61]:
notas_tag = site.find_all('strong')

In [62]:
nota = list()
votos = list()

for valor in ratings:
    nota.append(valor.text)
    votos.append(re.search('<strong title="[0-9]\.[0-9] based on (.+?) user ratings">[0-9]\.[0-9]</strong>', str(valor)).group(1))

In [66]:
series = {
    'Título': titulo,
    'Ano': ano,
    'Nota': nota,
    'Votos': votos
}

In [70]:
df = pd.DataFrame(series)
df

                   Título   Ano Nota      Votos
0        Planeta Terra II  2016  9.4    132,806
1            Breaking Bad  2008  9.4  1,740,972
2           Planeta Terra  2006  9.4    199,344
3        Irmãos de Guerra  2001  9.4    444,991
4               Chernobyl  2019  9.3    700,973
..                    ...   ...  ...        ...
245  Love, Death & Robots  2019  8.4    145,339
246  Clannad: After Story  2008  8.4     10,889
247           Rocket Boys  2022  8.4     10,828
248          Harley Quinn  2019  8.4     23,686
249           Foyle's War  2002  8.4     15,037

[250 rows x 4 columns]

In [69]:
df.to_excel('series_imdb.xlsx', index=False)